<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="DBConnection" connectionString="Data Source=DESKTOP-D6OML9F\SQLEXPRESS;Initial Catalog=StaffTimeTrackingDB;User ID=sa;Password=123"/>
		
	</connectionStrings>
	
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>